<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>LITCHI : sign-up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_join.css' %}">
    <script src="{% static '\js\trim.js' %}"></script>
    <script languege="javascript">
        const regExp = /[!?@#$%^&*():;+-=~{}<>\_\[\]\|\\\"\'\,\.\/\`\₩]/g;
        const blankExp = /\s/g;
        // 이메일 체크(트랜젝션 스타트)

        function check_email(){
            var emailFoc = document.getElementById('email');
            var emailVal = emailFoc.value;
            emailVal = trim(emailVal);

            if(emailVal.length == 0){
                alert("Email을 입력해 주세요");
                emailFoc.focus();
                return false;
            }else if(!checkEmail(emailVal)){
                alert('Email 형식을 맞춰주세요 ex)"--@--.--"');
                emailFoc.focus();
                return false;
            }else if(blankExp.test(emailVal)){
                alert("Email은 공백을 포함할 수 없습니다");
                emailFoc.focus();
                return false;
            }else if(check_pwd()){
                jf.submit();
            }else{
                return false;
            }
        }

        // 비밀번호 체크(retrurn boolean)
        function check_pwd(){
            var pwdFoc = document.getElementById('pwd');
            var pwdVal = pwdFoc.value;
            var checkPwdFoc = document.getElementById('check_pwd');
            var checkPwdVal = checkPwdFoc.value;

            
            if(pwdVal.length == 0){
                if(check_name()){
                    return true;
                }else{
                    return false;
                }
            }
            if(pwdVal.length != 0){
                if(!checkPwd(pwdVal)){
                    alert("Password는 영문,숫자,특수문자를 혼합하여 6~12자로 입력해 주세요");
                    pwdVal = "";
                    pwdFoc.focus();
                    return false;
                }else if(blankExp.test(pwdVal)){
                    alert("Password는 공백이 포함될 수 없습니다");
                    pwdVal = "";
                    pwdFoc.focus();
                    return false;
                }else if(checkPwdVal.length == 0){
                    alert("2차 Password를 입력해 주세요");
                    checkPwdFoc.focus();
                    return false;
                }else if(pwdVal != checkPwdVal){
                    alert("2차 Password를 확인해 주세요");
                    checkPwdVal = "";
                    checkPwdFoc.focus();
                    return false;
                }else if(check_name()){
                    return true;
                }else{
                    return false;
                }
            }
        }

        // 이름 체크(retrurn boolean)
        function check_name(){
            var nameFoc = document.getElementById('name');
            var nameVal = nameFoc.value;

            if(nameVal.length==0){
                alert("이름을 입력해 주세요");
                nameFoc.focus();
                return false;   
            }else if(regExp.test(nameVal) | blankExp.test(nameVal)){
                alert("이름은 공백이나 특수문자가 포함될 수 없습니다");
                nameVal = "";
                nameFoc.focus();
                return false;
            }else if(nameVal.search(/[0-9]/g) > -1){
                alert("이름은 숫자는 포함할 수 없습니다");
                nameVal = "";
                nameFoc.focus();
                return false;
            }else if(nameVal.length<2){
                alert("이름이 너무 짧습니다.");
                nameVal = "";
                nameFoc.focus();
                return false;
            }else if(check_byte(nameVal)>30){
                alert("이름이 너무 깁니다");
                nameVal = "";
                nameFoc.focus();
                return false;
            }else if(check_gender()){
                return true;
            }else{
                return false;
            }
        }

        // 성별 체크(retrurn boolean)
        function check_gender(){
            var genderVal = document.getElementById('gender').value;
            if(genderVal == "gender"){
                alert("성별을 선택해 주세요");
                return false;
            }else if(check_phone()){
                return true;
            }
        }

        // 휴대전화 체크(retrurn boolean)
        function check_phone(){
            var phoneFoc = document.getElementById('phone');
            var phoneVal = phoneFoc.value;
            if(phoneVal.length == 0){
                alert("휴대전화를 입력해 주세요");
                phoneFoc.focus();
                return false;
            }else if(phoneVal.length != 11){
                alert("휴대전화는 11자리만 입력해 주세요");
                phoneVal = "";
                phoneFoc.focus();
                return false;
            }else if(isNaN(phoneVal)){
                alert('휴대전화는 숫자로만 입력해 주세요("-"미포함)');
                phoneVal = "";
                phoneFoc.focus();
                return false;
            }else{
                return true;
            }
        }

        // 이메일 형식 체크 기능
        function checkEmail(str){                                                 
            var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
            if(!reg_email.test(str)) {
                return false;
            }else{
                return true;
            }
        }

        // 비밀번호 형식 체크 기능
        function checkPwd(str){                                                 
            var regExp = /^.*(?=^.{6,12}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
            if(!regExp.test(str)) {
                return false;
            }else{
                return true;
            }
        }

        // 바이트 체크 기능(모델 Max-length 제한치 적용)
        function check_byte(str){
            stringByteLength = (function(s,b,i,c){
                for(b=i=0;c=s.charCodeAt(i++);b+=c>>11?3:c>>7?2:1);
                return b
            })(str);
            return stringByteLength
        }
    </script>
</head>

<body style="margin:0">
    {% include "nav.html" %}
    <div class="signup-body">
        <header>
            <div class="signup-logo">
                <img src="{% static 'css/imgs/myinfo.png'%}" class="signup-image">
            </div>
        </header>
        <form name="jf" action="info_ok" method="POST">
        {% csrf_token %}
                <div class="signup-first">
                    <h3>이메일</h3>
                    <span class="signup-input">
                        <input name="email" id="email" type="text" title="이메일" placeholder="이메일을 입력하세요"  value="{{request.session.email}}" required="required" readonly>
                    </span>
                    
                    <h3>비밀번호</h3>
                    <span class="signup-input">
                        <input name="pwd" id="pwd" type="password" title="비밀번호" placeholder="미입력시 비밀번호 변경이 되지 않습니다." maxlength="12" required="required">
                        <span class="signup-pwd-image"></span>
                    </span>

                    <h3>비밀번호 재확인</h3>
                    <span class="signup-input">
                        <input name="check_pwd" id="check_pwd" title="비밀번호 확인" placeholder="비밀번호 확인을 입력하세요" type="password" maxlength="12" required="required">
                        <span class="signup-pwd-image"></span>
                    </span>
                </div>

                <div class="signup-select">
                    <h3>이름</h3>
                    <span class="signup-input">
                        <input name="name" id="name" type="text" title="이름" placeholder="이름을 입력하세요"value="{{seeker.name}}" required="required">
                    </span>

                    <h3>성별</h3>
                    <span class="signup-input">
                        <select name="gender" id="gender" class="selectbox" onchange="">
                            {% if seeker.gender == '남'%}
                                <option value="M" selected>남자</option>
                                <option value="W">여자</option>
                            {% else %}
                                <option value="M" >남자</option>
                                <option value="W" selected>여자</option>
                            {% endif%}
                        </select>
                    </span>
                </div>

                <div class="signup-select">
                    <h3>휴대전화</h3>
                    <span class="signup-input">
                        <input name="phone" id="phone" type="number" title="전화번호" value="{{seeker.phone}}" placeholder="전화번호를 입력하세요">
                    </span> 
                </div>
                <div class="signup-join">
                    <button type="button" class="signup-btn" onclick="check_email()">수정하기</button>
                </div>
        </form>
    </div>
</body>
{% include "footer.html" %}
</html>