{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Tropical Night Litchi-Root : login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_join.css' %}">
    <script src="{% static '/js/trim.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function check_login(){
            var loginEmailFoc = document.getElementById('login-email');
            var loginEmailVal = loginEmailFoc.value;

            if(loginEmailVal.length==0){
                alert("Email을 입력해 주세요");
                loginEmailFoc.focus();
                return false;
            }else if(!CheckEmail(loginEmailVal)){
                alert('Email 형식을 맞춰주세요 ex)"--@--.--"');
                loginEmailFoc.focus();
                return false;
            }else if(check_login_pwd()){
                lf.submit();
            }
        }

        // 비밀번호 체크(retrurn boolean)
        function check_login_pwd(){
            var loginPwdFoc = document.getElementById('login-pwd');
            var loginPwdVal = loginPwdFoc.value;

            if(loginPwdVal.length == 0){
                alert("Password를 입력해 주세요");
                loginPwdFoc.focus();
                return false;
            }else{
                return true;
            }
        }

        // 이메일 형식 체크 기능
        function CheckEmail(str){                                                 
            var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
            if(!reg_email.test(str)) {
                return false;
            }else{
                return true;
            }
        }
    </script>
</head>

<!--로그인 팝업창 레이어-->
<body>
    <div class="login-body">
        <div class="login-content"> 
            <span class="login-close-button">&times;</span> 
            <div class="login-header">
                <img src="{% static 'css/imgs/logo.png'%}" class="image-login">
            </div>
            <p>{{error}}</p>    
            <form name="lf" action="/login_ok/" method="post">
            {% csrf_token %}
                <label class = "login-label" for="email">EMAIL</label> 
                <input class = "login-input" type="email" id="login-email" name="login-email" title="이메일" placeholder="이메일을 입력하세요" required="required"> 
                <label class = "login-label" ></label> 
                <label class = "login-label" for="password">PASSWORD</label>
                <input class = "login-input" type="password" id="login-pwd" name="login-pwd" title="비밀번호" placeholder="비밀번호를 입력하세요" required="required" maxlength='12'>
                <div class="login-btn-group">
                    <input class = "login_submit" type="button" id="login-submit" value="로그인" onclick="check_login()">
                    <input class = "login_cancel" type="button" id="login-cancel" value="취소" onclick="javascript:history.go(0)"/>
                </div>
            </form> 
        </div>
    </div>
</body>

<script type="text/javascript">
    let loginButton = document.querySelector("#login_button");
    var godal = document.querySelector(".login-body");
    var closeButton = document.querySelector(".login-close-button");
    var cancelButton = document.querySelector("#login-cancel");

    function togglegodal() { 
        godal.classList.toggle("show-login"); 
        console.log(1);
    }

   function windowOnClick(event) { 
        if (event.target === godal) { 
            togglegodal(); 
        } 
    }
    $(document).keyup(function(event) {
        var loginEmailFoc = document.getElementById('login-email');
        var loginEmailVal = loginEmailFoc.value;
        if (event.which === 13) {
            if(loginEmailVal.length!=0){
                check_login();
            }
        }
    });
    loginButton.addEventListener("click", togglegodal); 
    closeButton.addEventListener("click", togglegodal); 
    cancelButton.addEventListener("click", togglegodal); 
    window.addEventListener("click", windowOnClick); 
</script>